*{
    padding: 0;
    margin: 0;
}

.nav-center{
    border-bottom: 2px solid gray;
    background-color: white;
    padding: 10px;
}

.nav-center h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

li{
    padding: 10px;
    padding-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: underline;
}

.nav-center ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.container{
    text-align: center;
    margin-top: 15%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container h2{
    background-color: black;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.color{
    color: blueviolet;
}

#btn{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    font-size: large;
    font-weight: 800;
}

#btn:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}